//Fuentes
$principal: 'Raleway', sans-serif;
$secundaria: 'Roboto', sans-serif;
$cursiva: 'Bona Nova', serif;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primario:#5e311e;
$secundario: #c39c63;
$negro: #000;
$blanco: #fff;
$gris: #d3d3d3;
$claro: #ebe7de;

$separacion: 5rem;
