//Fuentes
$principal: 'Roboto', sans-serif;;

//Media Queries
$phone: 480px;
$tablet: 7668px;
$desktop: 1024px;

//Colores
$primario:#e8505b;
$secundario: #455a64;
$negro: #000;
$blanco: #fff;
$gris: #d3d3d3;

$separacion: 5rem;
